---
layout: default
---
<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img
            src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}"
            alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
    <a href="http://github.com/{{site.social-github}}">
      <picture>
        <source srcset="{{site.data.layout.grass-graph}}{{site.social-github}}.png?rotate=270"
          media="(max-width: 480px)">
        <source srcset="{{site.data.layout.grass-graph}}{{site.social-github}}.png?rotate=270"
          media="(min-width: 768px)">
        <img src="{{site.data.layout.grass-graph}}{{site.social-github}}.png">
      </picture>
    </a>
  </header> <!-- End Header -->
  <nav class="contact">
    <h3 class="contact-title">サイト内検索</h3>
    <script async src="https://cse.google.com/cse.js?cx=011467457237020257258:8dkx6golzfn"></script>
    <div class="gcse-search"></div>
    <h3 class="contact-title">サイト内翻訳</h3>
    <div id="google_translate_element"></div>
    <script>
      function googleTranslateElementInit()
      {
        new google.translate.TranslateElement( { pageLanguage: 'ja', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-63549092-4' }, 'google_translate_element' );
      }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <h3 class="contact-title">QRコード</h3>
    <p style="text-align:center">
      <a href="{{site.baseurl}}{{page.url}}">
        <img src="{{site.data.layout.qrcode}}chart?cht=qr&chs=130x130&chl={{site.url}}{{site.baseurl}}{{page.url}}"
          style="width:100%; max-width:400px;">
      </a>
    </p>
    {% if page.path == 'index.html' %}
    <h3 class="contact-title">メニュー</h3>
    <ul>
      <li><a href="{{site.baseurl}}{% post_url archive/2019-01-01-readme %}">はじめに・サイトの見方</a></li>
      <li><a href="{{site.baseurl}}{% post_url archive/2019-01-01-work %}">履歴・経歴など</a></li>
      <li><a href="{{site.baseurl}}{% post_url archive/2019-01-01-recruit %}">お仕事の相談</a></li>
      <li><a href="{{site.baseurl}}/tags">コンテンツ一覧</a></li>
      <li><a href="{{site.baseurl}}/feed.xml">RSSフィード</a></li>
    </ul>
    {% else %}
    <h3 class="contact-title">ページ内リンク</h3>
    <ul>
      <li><a href="{{site.baseurl}}/">トップページ</a></li>
    </ul>
    {% include toc.html html=content sanitize=true %}
    {% endif %}
  </nav>
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.social-twitter %}
        <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter"
              aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-facebook %}
        <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fa fa-facebook"
              aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-github %}
        <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i
              class="fa fa-github"></i></a></li>
        {% endif %}
        {% if site.social-linkedin %}
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i
              class="fa fa-linkedin"></i></a></li>
        {% endif %}
        {% if site.social-email %}
        <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
